:root {
  --quiz-answer-w: 40%;
  --quiz-answer-h: 4em;
  --quiz-answer-p: 0.8em;
  --quiz-answer-fs: 1em;
}

@media (min-width: 768px) {
  :root {
    --quiz-answer-w: 40%;
    --quiz-answer-h: 3em;
    --quiz-answer-p: 1em;
    --quiz-answer-fs: 1.3em;
  }
}

@media (min-width: 1024px) {
  :root {
    --quiz-answer-fs: 1.3em;
  }
}

.answer-btn {
  flex: 1 1 var(--quiz-answer-w);
  height: var(--quiz-answer-h);
  padding: var(--quiz-answer-p);
  font-size: var(--quiz-answer-fs);
  background-color: var(--background-primary);
  text-align: left;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow);
  border-radius: 10px;

  &:hover {
    box-shadow: var(--inner-shadow);
  }

  &.correct {
    color: #fff;
    background-color: var(--green);
  }

  &.incorrect {
    color: #fff;
    background-color: var(--red);
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  &:disabled:hover {
    box-shadow: var(--shadow);
  }

  &:disabled {
    cursor: auto;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
