:root {
  --quiz-answer-w: 40%;
  --quiz-answer-h: 4em;
  --quiz-answer-p: 0.8em;
  --quiz-answer-fs: 1em;
}

@media (min-width: 768px) {
  :root {
    --quiz-answer-w: 40%;
    --quiz-answer-p: 1em;
    --quiz-answer-fs: 1.5em;
  }
}

@media (min-width: 1024px) {
  :root {
    --quiz-answers-g: 0.5em;
    --quiz-answer-fs: 1.7em;
  }
}

.answer-btn {
  flex: 1 1 var(--quiz-answer-w);
  height: 4em;
  padding: var(--quiz-answer-p);
  font-size: var(--quiz-answer-fs);
  background-color: var(--background-primary);
  text-align: left;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow);
  border-radius: 10px;

  &:hover {
    box-shadow: var(--inner-shadow);
  }

  &.correct {
    color: #fff;
    background-color: var(--green);
    animation: zoom-in-zoom-out 1s ease;
  }

  &.incorrect {
    color: #fff;
    background-color: var(--red);
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  &:disabled:hover {
    box-shadow: var(--shadow);
  }

  &:disabled {
    cursor: auto;
  }
}
