:root {
  --btn-fs: 1em;
  --btn-p: 0.5em;
}

@media (min-width: 420px) {
  :root {
    --btn-fs: 1.5em;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--btn-p);
  border-radius: 10px;
  box-shadow: var(--shadow);
  cursor: pointer;
  text-decoration: none;
  transition: all 1.5s linear;
  color: var(--dark);

  span[class^='material-icons'] {
    pointer-events: none;
    color: var(--grey);
    font-size: var(--btn-fs);
    transition: 0.6s ease;

    &:hover {
      color: var(--accent);
    }
  }

  &:hover {
    box-shadow: var(--inner-shadow);

    span[class^='material-icons'] {
      color: var(--accent);
    }
  }
}
