.checkbox {
  width: 6rem;
  display: flex;
  justify-content: center;

  input {
    display: none;
  }

  label {
    box-shadow: var(--shadow);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 2.8rem;
    height: 2.8rem;

    &:hover span[class^='material-icons'] {
      color: var(--accent);
    }

    span[class^='material-icons'] {
      color: var(--grey);
      font-size: 1.5rem;
      transition: 1s ease;
    }
  }

  & input:checked {
    & ~ label {
      box-shadow: var(--inner-shadow);
      span[class^='material-icons'] {
        color: var(--accent);
      }
    }
  }
}
