:root {
  --popup-score-t: 20%;
  --popup-score-l: 20%;
  --popup-score-s: 80%;
  --popup-score-p: 2em 1em;
  --popup-score-fs: 1em;
}

.popup-score {
  position: absolute;
  top: var(--popup-score-t);
  left: var(--popup-score-l);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--popup-score-s);
  height: var(--popup-score-s);
  padding: var(--popup-score-p);
  font-size: var(--popup-score-fs);
  border-radius: 100%;
  background: var(--background-primary);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--grey-light);
  transition: 0.4s ease-in;

  &.hidden {
    transform: scale(0) rotate(190deg);
  }
}
