:root {
  --timer-w: 4em;
  --timer-fs: 1.1em;
  --timer-circle-yellow: #ffcd00;
}

@media (min-width: 420px) {
  :root {
    --timer-w: 4em;
  }
}

@media (min-width: 768px) {
  :root {
    --timer-w: 5.5em;
    --timer-pauses-fs: 1.2em;
  }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--timer-w);
  height: var(--timer-w);
  margin-left: auto;
  border: 0.3rem solid var(--grey);
  border-radius: 50%;
  box-shadow: var(--shadow);

  &__display {
    font-weight: 600;
    font-size: var(--timer-fs);
    display: flex;
  }
}

.display {
  margin: 0 0.015em;
}

@keyframes popup {
  0% {
    transform: scale(0.85);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.85);
  }
}

.circle {
  width: var(--timer-w);
  height: var(--timer-w);
  position: absolute;
  overflow: visible;
  enable-background: new 0 0 521.17 521.17;
}

circle {
  fill: none;
  stroke: var(--green);
  stroke-width: 18;
  stroke-dasharray: 1590;
  stroke-linecap: round;
  transform: rotate(270deg);
  transform-origin: center;
  transition: stroke 300ms ease;
}

@keyframes loop {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1590;
  }
}
