:root {
  --timer-w: 4em;
  --timer-fs: 1.1em;
  --timer-circle-yellow: #ffcd00;
}

@media (min-width: 420px) {
  :root {
    --timer-w: 4em;
  }
}

@media (min-width: 768px) {
  :root {
    --timer-w: 5.5em;
    --timer-pauses-fs: 1.2em;
  }
}

.timer {
  position: absolute;
  top: 0.5em;
  right: var(--header-nav-p);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--timer-w);
  height: var(--timer-w);
  margin-left: auto;
  border: 0.3rem solid var(--grey);
  border-radius: 50%;
  background-color: var(--background-primary);
  z-index: 1000;

  @media (min-width: 768px) {
    top: 1em;
  }

  &.hidden {
    display: none;
  }

  &__added-time {
    position: absolute;
    top: 0;
    right: calc(var(--header-nav-p) + 1em);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    font-size: 2em;
    font-weight: bold;
    color: var(--green);
    opacity: 1;
    transition: opacity 1s ease-out;
    animation: 1s zoom;

    &.incorrect {
      color: var(--red);
    }

    &.hidden {
      opacity: 0;
      animation: 1s zoom-out;
    }
  }

  &__display {
    font-weight: 600;
    font-size: var(--timer-fs);
    display: flex;
  }
}

.display {
  margin: 0 0.015em;
}

@keyframes popup {
  0% {
    transform: scale(0.85);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.85);
  }
}

.circle {
  width: var(--timer-w);
  height: var(--timer-w);
  position: absolute;
}

circle {
  fill: none;
  stroke: var(--green);
  stroke-width: 18;
  stroke-dasharray: 1590;
  stroke-dashoffset: 1590;
  stroke-linecap: round;
  transform: rotate(270deg);
  transform-origin: center;
  transition: all 300ms ease;
}

@keyframes loop {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1590;
  }
}

@keyframes zoom {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
