@mixin page-animation($num, $speed) {
  animation: slide-in-slide-out $num * $speed ease-in-out;
}

@mixin heading-animation {
  animation: slide-out 0.5s ease;
}

@keyframes slide-in-slide-out {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@mixin text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes slide-out {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
