span[class^='material-icons'] {
  pointer-events: none;
  color: var(--grey);
  font-size: var(--btn-fs);
  transition: 0.6s ease;

  &::selection {
    background: transparent;
  }

  &:hover {
    color: var(--accent);
  }
}
