:root {
  --home-row-g: 2em;
  --home-text-fs: 1.5em;
  --home-types-row-g: 2em;
  --home-type-h: 48%;
  --home-logo-h: 10%;
  --home-type-p: 20px;
}

@media (min-width: 768px) {
  :root {
    --home-type-p: 30px;
    --home-text-fs: 2em;
  }
}

@media (min-width: 1024px) {
  :root {
    --home-row-g: 3em;
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--home-row-g);
  height: 100%;

  &-logo {
    width: 17em;
    height: var(--home-logo-h);
    margin-left: auto;
    margin-right: auto;
    background: url('../img/logo.png') no-repeat;
    background-size: contain;
    @include heading-animation;
  }
}

.home-types {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      @include page-animation($i, 0.2s);
    }
  }

  &__type {
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--background-primary);
    box-shadow: var(--shadow);
    padding: var(--home-type-p);
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
      box-shadow: var(--inner-shadow);
    }
  }

  &__image {
    height: 10em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;

    @media (min-width: 690px) {
      height: 15em;
    }

    &.artist {
      background-image: url('../img/artists.webp');
    }

    &.pictures {
      background-image: url('../img/pictures.webp');
    }

    &.blitz-image {
      background-image: url('../img/blitz.webp');
    }
  }

  &__text {
    pointer-events: none;
    color: var(--text-dark);
    font-size: var(--home-text-fs);
  }
}
