:root {
  --quiz-row-g: 1em;
  --quiz-question-fs: 1em;
  --quiz-pag-s: 0.5em;
  --quiz-pictures-img-p: 0.2em;
  --quiz-answers-g: 0.5em;
}

@media (min-width: 420px) {
  :root {
    --quiz-answers-g: 1em;
    --quiz-question-fs: 1.5em;
  }
}

@media (min-width: 768px) {
  :root {
    --quiz-row-g: 1em;
    --quiz-pictures-img-p: 0.3em;
    --quiz-question-fs: 1.5em;
    --quiz-pag-s: 1em;
    --quiz-answers-g: 1em;
  }
}

@media (min-width: 1024px) {
  :root {
    --quiz-question-fs: 2em;
    --quiz-answers-g: 0.5em;
  }
}

.quiz {
  display: flex;
  flex-direction: column;
  row-gap: var(--quiz-row-g);
  height: 100%;

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      @include page-animation($i, 0.4s);
    }
  }

  &__question {
    text-align: center;
    font-size: var(--quiz-question-fs);

    &.hidden {
      @include heading-animation;
    }
  }
}

.quiz-slider {
  overflow: hidden;
}

.quiz__images {
  display: flex;
  flex-wrap: wrap;
  transition: 1s ease;
  height: 100%;

  .image {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    transition: 1s ease;

    &__actions {
      position: absolute;
      top: 1em;
      display: flex;
      align-items: center;
      border-radius: 10px;
      background: var(--dark);
      cursor: pointer;

      &.disabled {
        pointer-events: none;
      }

      &:hover {
        span[class^='material-icons'] {
          color: var(--accent);
        }
      }
    }

    &__fullscreen {
      right: 1em;
      border: none;
      outline: none;
    }

    &__hint {
      left: 1em;
      z-index: 2;
    }

    &.artists,
    &.blitz {
      flex: 0 0 100%;
      height: 100%;
    }

    &.pictures {
      width: 100%;
      height: 25%;
      cursor: pointer;
      padding: var(--quiz-pictures-img-p);

      @media (min-width: 768px) {
        width: 50%;
        height: 50%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      transition: 0.3s;
      box-sizing: border-box;

      &.disabled {
        pointer-events: none;
        cursor: auto;
      }

      &.correct {
        border: 10px solid var(--green);
        animation: zoom-in-zoom-out 1s ease;
      }

      &.incorrect {
        border: 10px solid var(--red);
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      }
    }
  }
}

.quiz__pag {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;

  .pag-item {
    width: var(--quiz-pag-s);
    height: var(--quiz-pag-s);
    border-radius: 100%;
    background-color: var(--grey);

    &.correct {
      background-color: var(--green);
    }

    &.incorrect {
      background-color: var(--red);
    }
  }
}

.quiz__answers {
  display: flex;
  flex-wrap: wrap;
  gap: var(--quiz-answers-g);

  &.hidden {
    display: none;
  }

  .answer-btn {
    @for $i from 1 through 2 {
      &:nth-child(#{$i}).hidden {
        animation: slide-in-slide-out $i * 0.3s ease;
      }
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes zoom-in-zoom-out {
  50% {
    transform: scale(1, 1);
  }
}

@keyframes slide-in-slide-out {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
