:root {
  --footer-fs: 1.5em;
  --footer-logo-s: 5em;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;

  &__github {
    text-decoration: none;
    color: var(--text-dark);
    transition: 0.5s ease;

    &:hover {
      color: var(--accent);
    }
  }

  &__github,
  &__year {
    font-size: var(--footer-fs);
  }

  &__school {
    width: var(--footer-logo-s);
    height: var(--footer-logo-s);
    background: url('../icon/rss.svg') no-repeat center;
    background-size: contain;
  }
}
