:root {
  --footer-fs: 1em;
  --footer-logo-s: 3em;
}

@media (min-width: 768px) {
  :root {
    --footer-fs: 1.5em;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--vh, 1vh) * 5);
  padding: 2em 2em;

  @media (min-width: 1024px) {
    height: calc(var(--vh, 1vh) * 10);
  }

  @media (min-width: 768px) {
    padding: 0 1em;
  }

  &__github {
    text-decoration: none;
    color: var(--text-dark);
    transition: 0.5s ease;

    &:hover {
      color: var(--accent);
    }
  }

  &__github,
  &__year {
    font-size: var(--footer-fs);
  }

  &__school {
    width: var(--footer-logo-s);
    height: var(--footer-logo-s);
    background: url('../icon/rss.svg') no-repeat center;
    background-size: contain;
  }
}
