:root {
  --main-p: 0.5em;
  --main-mt: 5em;
}

.main {
  display: flex;
  align-items: center;
  height: auto;
  padding: var(--main-p) var(--section-p);
  overflow: hidden;

  @media (min-height: 1000px) {
    height: calc(var(--vh, 1vh) * 80);
  }
}

.main-categories {
  display: flex;
  align-items: center;
  height: auto;
  padding: var(--main-p) var(--section-p);
  overflow: hidden;
}
