:root {
  --main-p: 0 0.5em 1em;
}

@media (min-width: 420px) {
  :root {
    --main-p: 0.8em 2em;
  }
}

.main {
  display: flex;
  align-items: center;
  height: auto;
  padding: var(--main-p);
  overflow: hidden;

  &-fullheight {
    height: calc(var(--vh, 1vh) * 75);
  }
}
